*{
  margin: 0;
  padding: 0;
  transition: 0.5s ease-out;
  box-sizing: border-box;
}

body{
  /* background-color: red; */
}

.container__main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 180px; */
}

@media screen and (min-width:48em) {
  .container__main{
    gap: 20px;
  }


}